{
  "presets": ["next/babel"],
  "plugins": [
    ["styled-components", { "ssr": true }],
    [
      "module-resolver",
      {
        "root": ["./"]
      }
    ],
    "@babel/plugin-proposal-optional-chaining"
  ]
}
